
 #game-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
   }

   #canvas-container {
	 position: relative;
   }

   #rightbox {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	background-color: #1b2838;
	display: flex;
	justify-content: center;
	align-items: center;
   }

   button {
	padding: 10px;
	background-color: 'black';
	color: '#1b2838';
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
   }

